@charset "utf-8";

.sideimg {
	float: right;
	margin-right: 20px;
	margin-left: 30px;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin-left: 20px;
}
body {
	background-image: url('media/titles/titleback.png');
	background-repeat: repeat-x;
	background-size: auto;
	top: 0px;
	left: 0;
	right: 0px;
	height: 108px;
	width: 1024px;
	float: none;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0px;
}
table {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;

}
td {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
body::before {
  content: "";
  background-image: url('media/titles/titleback.png');
  background-repeat: repeat-x;
  background-size: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 108px;
  z-index: -1;
}
.titleimg {
	margin: 0px;
	padding: 0px;
}
